body {
    font-family: Arial, sans-serif;
    min-height: 2000px;;
}

.headr {
    height: 80vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logo-wwf {
    position: absolute;
    width: 7em;
    height: 7em;
}

/* SCROLL DOWN HEADER */
.scroll-down-headr {
   background: transparent;
   position: absolute;
   left: 50%;
   right: 50%;
   bottom: 23%;
   opacity: 0.7;
}
.scroll-down-headr:visited {
    color: black;
}
.scroll-down-headr:hover {
    opacity: 1;
}
.bi-arrow-down-square {
    width: 40px;
    height: 40px;
    background: transparent;
}

/* DIV DON WWF */
#don-wwf {
    min-height: 15vh;
    border: solid black 1px;
}
#div-don {
    border-left: 1px solid #000;
    
    background: rgba(222, 94, 9);
}
#div-don > .btn-don, #div-wwf > .btn-wwf {
    width: 90%;
    height: 2em;
    border-radius: 10px;
    border: 0;
    
}
#div-don > .btn-don:hover, #div-wwf > .btn-wwf:hover {
    transform: scale(1.1, 1.1);
}   

#div-wwf {
    border-right: 1px solid #000;
    background: lightseagreen;
}
#div-don, #div-wwf {
    width: 50%;
}
.div-hyperlink:visited {
    color: black;
}
.div-hyperlink:hover {
    color: black;
}
.div-hyperlink {
    text-decoration: none;
    width: 90%;
    color: black;
}


/* CONTENT */
.content {
   /* border: solid black;*/
    width: 100%;
}
.paragraphe {
    /*background: lightgrey;
    border: dotted red;*/
    margin-bottom: 10rem;
    margin-top: 5rem;
}

h3::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;
    width: 50px;
    height: 3px;
    background: black;
}
.content  p {
    line-height: 2.7;
}


/* BACK TO TOP */
.bi-arrow-up-circle-fill {
    width: 40px;
    height: 40px;
    background: transparent;
}
.back-to-top {
    background: transparent;
    position: absolute;
    right: 2.5%;
    bottom: 0;
    opacity: 0.7;
 }
.back-to-top:hover {
    opacity: 1;
 }

 /* FOOTER */
footer {
    min-height: 200px;
    border: dotted red 1px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer .list-group-item:hover {
    opacity: 0.7;
    cursor: pointer;
}
footer .list-group-item:hover a {
    color: black;
}

footer p {
    margin-top: 100px;
}



/* MEDIA QUERIES */
@media screen and (max-height: 700px) {
    .scroll-down-headr {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .content {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}