body {
    font-family: Avenir, sans-serif;
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.headr {
    height: 80vh;
    min-height: 500px;
    width: 100vw;
    background-image: url('images/polarbear2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logo-wwf {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: 0.85;
}

/* SCROLL DOWN HEADER */
.scroll-down-headr {
   background: transparent;
   position: absolute;
   left: 45%;
   right: 45%;
   bottom: 25%;
   opacity: 0.7;
}
.scroll-down-headr:visited {
    color: black;
}
.scroll-down-headr:hover {
    opacity: 1;
}
.bi-arrow-down-square {
    width: 40px;
    height: 40px;
    background: transparent;
}

/* DIV DON WWF */
#don-wwf {
    min-height: 15vh;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    box-shadow: 0px 15px 20px 2px rgba(204,204,204,0.4);
    font-size: 1rem;
}
#div-don {
    background: rgb(202, 161, 46);
    color: black;
}
#div-wwf {
    border-right: 1px solid gray;
    background: rgb(12, 29, 41);
}
#div-don, #div-wwf {
    width: 50%;
}
.btn-don {
    background: rgb(250, 242, 232);
    border: solid 3px rgb(17, 77, 77);
}
.btn-wwf {
    background: rgb(250, 242, 232);
    border: solid 3pxrgb(17, 77, 77);
}
#div-don > .btn-don, #div-wwf > .btn-wwf {
    width: 85%;
    height: 3.5em;
    border-radius: 10px;
}
#div-don > .btn-don:hover, #div-wwf > .btn-wwf:hover {
    transform: scale(1.1, 1.1);
}   
.div-hyperlink:visited {
    color: black;
}
.div-hyperlink:hover {
    color: black;
}
.div-hyperlink {
    text-decoration: none;
    width: 90%;
    color: black;
}


/* CONTENT */
.content {
    width: 100%;
 /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-size: cover;
    background-repeat: no-repeat;

}
.paragraphe {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10rem;
    margin-top: 5rem;
    padding: 3rem;

    z-index: 1;
    background: rgb(226, 224, 221);
    border: rgb(17, 77, 77) solid 3px;

    border-radius: 5px;
}

.content > h3, p {
    opacity: 1;
}

h3::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;
    width: 80px;
    height: 2px;
    background: black;
}
.content p {
    line-height: 2.7;
}
/* BOX BEHIND */
article {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
}
.box-behind {
   position: absolute;
   opacity: 0.7;
   top: 2.5rem;
   right: -1rem;
   width: 90%;
   height: 25em;

   /*background: rgb(166, 186, 219);*/
   background: rgb(161, 178, 204);
   border-radius: 5px;
   border: rgb(9, 36, 36) solid 3px;
}
#box-behind-qui {
    height: 22em;
}
#box-behind-quoi {
    height: 32em;
}

/* PARALLAX 
.parallax {
    background-image: url('images/parallax_images/us2.jpeg');

    min-height: 250px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url('images/wildfire.jpeg');

    min-height: 250px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */




/* BACK TO TOP */
.bi-arrow-up-square {
    width: 40px;
    height: 40px;
    background: transparent;
}
.back-to-top {
    background: transparent;
    position: absolute;
    right: 5%;
    bottom: 0;
    opacity: 0.7;
 }
.back-to-top:hover {
    opacity: 1;
 }
 .back-to-top:visited {
     color: black;
     text-decoration: none;
 }
 .back-to-top a {
     color: black;
 }
 .back-to-top a:hover {
    color: black;
}
 

 /* FOOTER */
footer {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -9px 20px 2px rgba(204,204,204,0.4);
}
footer a {
    color: black;
    text-decoration: none;
}
footer .list-group-item:hover {
    opacity: 0.7;
    cursor: pointer;
}
footer a:hover {
    color: black;
}
footer #signature {
    margin-top: 5em;
}
#signature::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;
    width: 150px;
    height: 2px;
    background: black;
}
footer #info {
    margin-top: 2.5em;
}
footer ul li {
    height: 6em;
    padding: 1em;
}



/* MEDIA QUERIES */
/*@media screen and (max-height: 700px) {
    .scroll-down-headr {
        display: none;
    }
}*/

@media screen and (min-width: 992px) {
    .content {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}