body {
    font-family: 'Avenir', sans-serif;
    /*background-image: url('images/bg1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}
body p {
    font-size: 16px;
}

.headr {
    height: 80vh;
    width: 100vw;
    background-image: url('images/polarbear2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: black solid 1px;
}
#logo-wwf {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: 0.85;
}
h1 {
    position: relative;
    top: -2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-family: 'Avenir', sans-serif;
}

/* SCROLL DOWN HEADER */
.scroll-down-headr {
   background: transparent;
   position: absolute;
   left: 50%;
   right: 50%;
   bottom: 25%;
   opacity: 0.7;
}
.scroll-down-headr:visited {
    color: rgb(51, 58, 65);
}
.scroll-down-headr:hover {
    opacity: 1;
}
.bi-arrow-down-square {
    width: 40px;
    height: 40px;
    background: transparent;
}

/* DIV DON */ 
#don-wwf {
    min-height: 15vh;
    font-size: 1rem;
}
#div-don {
    background-color: rgb(255, 255, 250);
    color: black;
    width: 100%;
}
.btn-don {
    background: rgb(222, 114, 0);
    border: solid 2px rgb(51, 58, 65);
    width: 90%;
    height: 5em;
    border-radius: 3px;
}
#div-don > .btn-don:hover {
    transform: scale(1.1, 1.1);
} 


/* CONTENT */
.content {
    width: 100vw;
 /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(255, 255, 250);

    padding-top: 5em;

}
.paragraphe {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10rem;
    margin-top: 5rem;
    padding: 3rem;

    z-index: 1;
    background: rgb(233, 196, 151);
    border: rgb(51, 58, 65) solid 3px;
    border-radius: 5px;
}

.content > h3, p {
    opacity: 1;
}

h3::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;
    width: 80px;
    height: 2px;
    background: black;
}
.content p {
    line-height: 2.7;
}
#pourquoi a {
    padding-bottom: 5em;
}

/* PARALLAX */
.parallax { 
    display: flex;
    background-image: url("images/parallax_images/parallax-bg-1.jpeg");
  
    height: 30rem;
    width: 100vw;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 10rem;
    margin-top: 5rem;
}
.paragraphe-parallax {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10rem;
    margin-top: 2rem;
    padding: 3rem;
    z-index: 2;
}
.box-behind-parallax {
    position: absolute;
    opacity: 0.75;
    background: white;
    width: 100%;
    height: 30em;
    z-index: 1;
}
.box-behind-parallax-help {
        position: absolute;
        top: 4.4em;
    
        opacity: 0.8;
        background: white;
        width: 100%;
        height: 17.1em;
        z-index: 1;
}
video { 
    position: absolute;
    top: 13em;
    z-index: 0;
    left: 50%;
    width: 100%;
    height: 30em;
    transform: translateX(-50%) translateY(-50%);
}
/* BOX BEHIND */
article {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
}
.box-behind {
   position: absolute;
   opacity: 0.6;
   top: 2.5rem;
   right: -1rem;
   width: 90%;
   height: 25em;

   background: rgb(161, 178, 204);
   border-radius: 5px;
   border: rgb(36, 59, 78) solid 3px;

   box-shadow: 4px -5px 15px 8px rgba(204, 204, 204, 0.8);
}
#box-behind-qui {
    height: 22em;
}
 

 /* FOOTER */
footer {
    box-shadow: 0px -9px 20px 2px rgba(204,204,204,0.4);

    height: auto;
    width: 100vw;

    background-image: url('images/bg-footer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
footer p {
    font-size: 15px;
    font-weight: 800;
}
footer a {
    color: black;
    text-decoration: none;
}
footer .list-group-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
footer a:hover {
    color: black;
}
footer #signature {
    margin-top: 5em;
    font-weight: 900;
    text-shadow: black 2px 1px;
    color: ivory;
}
#signature::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;
    width: 150px;
    height: 2px;
    background: ivory;
}
footer #info {
    margin-top: 2.5em;
    padding-bottom: 2.5em;
    text-shadow: black 2px 1px;
    color: ivory;
}
footer ul li {
    height: 6em;
    padding: 1em;
}


/* SECOND PAGE */
.navbar {
    width: 100%;
    border-bottom: solid 1px rgb(51, 58, 65);

}
.logo {
    width: 4em;
    height: 4em;
    opacity: 0.85;
}
h4 {
    border-top: solid gray 1px;
}
.btn-actu:hover {
    opacity: 0.8;
}
.disclaimer {
    border: black 2px solid;
    border-radius: 5px;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
    background: rgb(222, 114, 0);
    width: 80vw;
}

/*.back-to-top {
    background: transparent;
    position: relative;
    left: 45%;
    right: 45%;
    opacity: 0.7;
 }
 .back-to-top:visited {
     color: black;
 }
 .back-to-top:hover {
     opacity: 1;
 }
 .bi-arrow-up-square {
     width: 40px;
     height: 40px;
     background: transparent;
 }*/



/* MEDIA QUERIES */
@media screen and (max-height: 700px) {
    .scroll-down-headr {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    article {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .parallax {
        width: 100vw;
    }
    .parallax-help .box-behind-parallax {
        top: -2em;
    }
    .parallax-help {
        margin-bottom: 5em;
    }
    video {
        width: 100vw;
    }

    .footer {
        margin-top: 5em;
    }
}

