.headr {
    height: 80vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* SCROLL DOWN HEADER */
.scroll-down-headr {
   background: transparent;
   position: absolute;
   left: 50%;
   bottom: 23%;
}
.scroll-down-headr:visited {
    color: black;
}
.bi-arrow-down-square {
    width: 40px;
   height: 40px;
   background: transparent;
}