body {
    font-family: 'Avenir', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
body p {
    font-size: 16px;
}

.headr {
    height: 80vh;
    width: 100vw;

    background-image: url('images/polarbear2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#logo-wwf {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: 0.85;
}
h1 {
    position: relative;
    top: -2em;
    font-family: Impact, Haettenschwiehgtfoler, 'Arial Narrow Bold', sans-serif;
}


/* SCROLL DOWN HEADER */
.scroll-down-headr {
   display: none;
   background: transparent;
   opacity: 0.7;

   position: absolute;
   left: 50%;
   right: 50%;
   bottom: 25%;
}
.scroll-down-headr:visited {
    color: black;
}
.scroll-down-headr:hover, .back-to-top:hover {
    opacity: 1;
}
.bi-arrow-down-square {
    width: 40px;
    height: 40px;

    background: transparent;
}

/* DIV DON */ 
#don-wwf {
    height: 10vh;
}
#don-wwf a {
    text-decoration: none;
}
#div-don {
    background-color: rgb(233, 236, 240);
    color: black;

    width: 100%;
}
h2 {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;

    padding: 0;
}
em {
    font-size: 0.9em;
    font-weight: 100;
}


/* CONTENT */
.content {
    width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(255, 255, 250);

    padding-top: 5em;
}
article {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    width: 90vw;
}
.paragraphe {
    margin-left: 5%;
    margin-bottom: 10rem;
    margin-top: 5rem;
    padding: 2rem;

    z-index: 1;

    background:rgb(233, 236, 240);
    text-shadow: white 1px 1px;

    border: rgb(51, 58, 65) solid 2px;
    border-radius: 5px;
}
.link-to-action {
    font-size: 1.5em;
    font-weight: 900;
}
.link-to-action a {
    text-decoration: none;
}

.content > h3, p {
    opacity: 1;
}

h3::after {
    content: "";
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5px;

    width: 80px;
    height: 2px;
    background: black;
}
.content h3 {
    font-weight: bold;
}
.content p {
    line-height: 2.7;
    font-weight: 500;
}
#pourquoi a {
    padding-bottom: 5em;
}

/* PARALLAX */
.parallax { 
    display: flex;
    background-image: url("images/parallax_images/parallax-bg-1.jpeg");
  
    height: 31rem;
    width: 100vw;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 10rem;
    margin-top: 5rem;
}
.paragraphe-parallax {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 8rem;
    margin-top: 3rem;
    padding: 1rem;

    z-index: 2;

    text-shadow: white 1px 1px;
}
.box-behind-parallax {
    position: absolute;

    opacity: 0.75;
    background: white;

    width: 100%;
    height: 31em;

    z-index: 1;
}

#Join {
    margin-top: 5em;
}
.box-behind-parallax-help {
    position: absolute;
    top: 4.2em;
    
    opacity: 0.75;
    background: white;
    width: 100%;
    height: 17.6em;
    z-index: 1;
}
.parallax-help {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}
video { 
    position: absolute;
    top: 13em;
    left: 50%;
    right: 50%;

    width: 100%;
    height: 30em;
    
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}
/* BOX BEHIND */
.box-behind {
   position: absolute;
   top: 4rem;
   right: -1rem;

   width: 90%;
   height: 25em;

   background: rgb(247, 219, 191);
   opacity: 0.6;

   border-radius: 5px;
   border: rgb(36, 59, 78) solid 2px;
   box-shadow: 4px -5px 15px 8px rgba(204, 204, 204, 0.8);
}
#box-behind-qui {
    height: 22em;
}
 

 /* FOOTER */
footer {
    box-shadow: 0px -9px 20px 2px rgba(204,204,204,0.4);
    
    min-width: 100vw;

    background-image: url('images/bg-footer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

footer p {
    font-size: 15px;
    font-weight: 700;
}
footer a {
    color: black;
    text-decoration: none;
}
footer .list-group-item:hover {
    opacity: 0.8;
    cursor: pointer;
}
footer a:hover {
    color: black;
    text-decoration: none;
}
footer .list-group-item {
    background: rgb(254, 195, 0);
}
footer #signature {
    margin-top: 5em;
    font-weight: 900;
    text-shadow: black 2px 1px;
    color: ivory;
}
#signature::after, #credit::after, #etoile::after {
    content: "";
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;

    width: 250px;
    height: 2px;

    background: ivory;
}
#info, #credit, #etoile {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;

    text-shadow: black 2px 1px;
    color: ivory;
}
#credit, #etoile {
    margin: 0;
}
footer ul li {
    height: 6em;
    padding: 1em;
}
.back-to-top {
    position: fixed;
    bottom: 1em;
    right: -95%;

    color: rgba(248, 244, 250);
    opacity: 0.85;

    z-index: 3;
}


/* ACTION.HTML */
.navbar {
    width: 100vw;
}
.logo {
    width: 4em;
    height: 4em;
    opacity: 0.85;
}
h4 {
    border-top: solid gray 1px;
}
.btn-actu:hover {
    opacity: 0.8;
}
.disclaimer {
    border: black 2px solid;
    border-radius: 5px;

    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
    background: rgb(255, 245, 227);
    width: 90vw;
}
#accordion {
    margin-left: 5%;
    margin-right: 5%;
}

.btn-collapsible {
    background: rgb(233, 236, 240);
    color: red;
}


/* BREADCRUMB */
.breadcrumb {
    border-bottom: solid 2px rgb(51, 58, 65);
    background: rgb(233, 236, 240);

    width: 100vw;
}
.breadcrumb button {
    border: 0;
}


/* CCV POP UP */
#ccvInfoHelp {
    position: absolute;
    left: 5em;
    top: 2em;
    display: none;
}  
.popupCCV {
    margin: 20% auto;
    padding: 1em;

    width: 20em;
    height: 15em;

    overflow: scroll;
    background: rgb(231, 231, 231);
    border: solid 2px black;
    border-radius: 5px;
}
#ccvInfoHelp span:hover {
    animation: helicoptere 10s linear 0s infinite;
}


/* INSCRIPTION POP UP */
#btn-validation {
    font-weight: 700;
    font-size: 1.2em;
}
.overlay {
    position: fixed;
    top: 5%;
    left: 4%;
    right: 6%;

    display: none;

    z-index: 5;
}
.popup {
    margin: 5% auto;
    padding: 2em;

    width: 90vw;
    height: 80vh;

    background: rgba(249, 248, 250, 0.95);
    border: solid 2px black;
    border-radius: 5px;
}
#btnOpen {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5em;

    height: 5em;
    font-weight: 600;
}
    /* 'x' to close popups */
.bi-x {
    cursor: pointer;
    position: relative;
    top: -3%;
}
.bi-x:hover {
    animation: helicoptere 10s linear 0s infinite;
}

@keyframes helicoptere {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
  }




/* MEDIA QUERIES */


    /*   if < 500px : adjust margins and positions */
@media screen and (max-width: 499px) {
   h1 {
       top: -1em;
   }
   
   .paragraphe, .box-behind {
       margin-right: -2%;
   }
   #accordion, h3, .disclaimer {
       margin-left: 5%;
       margin-right: 6%;
   } 
}

    /* if < 401px : adjust margins, video & box-behind display-none */
@media screen and (max-width: 300px) {
    .box-behind {
    display: none;
    }
    article {
        margin-left: auto;
        margin-right: auto;
    }
    video {
        display: none;
    }
}

    /* if < 451px : overflow of parallax leopard hidden */
@media screen and (max-width: 450px) {
    .paragraphe-parallax {
        overflow: hidden;
    }
    .parallax {
        height: 24em;
        padding-bottom: 0;
    }
}

    /* if > 950px */
@media screen and (min-width: 950px) {
    article {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .parallax {
        width: 100vw;
    }
    .parallax-help .box-behind-parallax {
        top: -2em;
    }
    .parallax-help {
        margin-bottom: 5em;
    }
    video {
        width: 100%;
    }
    #Join p {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin-top: 5em;
    }
}

/* help-to-scroll only on large screen */
@media screen and (min-width: 1400px) {
    .scroll-down-headr {
        display: initial;
        bottom: 55%;
    }
    .parallax {
        height: 23em;
    }
    #Join p {
        width: 55vw;
    }
    .headr {
        height: 90vh;
    }
}

 /* adjust box-behind according to current width */
@media screen and (min-width: 540px) {
    .box-behind {
        height: 22em;
    }
}
@media screen and (min-width: 655px) {
    .box-behind {
        height: 20em;
    }
}
@media screen and (min-width: 700px) {
    #box-behind-qui {
        height: 19em;
    }
}
@media screen and (min-width: 820px) {
    .box-behind {
        height: 18em;
    }
}
@media screen and (min-width: 1277px) {
    #box-behind-qui {
        height: 17em;
    }
}

/* adjust boxes in background */
@media screen and (min-width: 1540px) {
    #Join p {
        width: 40vw;
    }
    #box-behind-qui {
        height: 15em;
    }
    #box-behind-pourquoi, #box-behind-comment {
        height: 15em;
    }
}

/* adjust margin-bottom of video */
@media screen and (min-width: 675px) {
    .parallax-help {
        margin-bottom: 5em;
    }
}
@media screen and (min-width: 1785px) {
    .parallax-help {
        margin-bottom: 10em;
    }
}

/* adjust video's p's width according to current width */
@media screen and (min-width: 2184px) {
    #Join p {
        width: 30vw;
    }
}

/* adjust grey breadcrumb-bar's position */
@media screen and (min-width: 945px) {
    #don-wwf {
        height: 5em;
    }
}

/* adjust ccvInfoHelp's position  */
@media screen and (min-width: 800px) {
    #ccvInfoHelp {
        left: 50%;
    }
}